<ng-template #autocompletetemplate let-r="result" let-t="term">
    {{ r.name}}
</ng-template>


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex align-items-center">
                <h4>Create Employee</h4>
            </div>
            <div class="card-body" [hidden]="submitted">
                <form (ngSubmit)="onSubmit()" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">First Name</label>
                                <div class="col-md-8">
                                    <input id="firstName" [(ngModel)]="model.firstName" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Last Name</label>
                                <div class="col-md-8">
                                    <input id="lastName" [(ngModel)]="model.lastName" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Title</label>
                                <div class="col-md-8">
                                    <input id="title" [(ngModel)]="model.title" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Title of Courtesy</label>
                                <div class="col-md-8">
                                    <input id="titleOfCourtesy" [(ngModel)]="model.titleOfCourtesy" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Birth Date</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="birthDate" [(ngModel)]="model.birthDate" ngbDatepicker #birthDate="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="birthDate.toggle()" type="button">
                                                <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Hire Date</label>
                                <div class="col-md-8">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="hireDate" [(ngModel)]="model.hireDate" ngbDatepicker #hireDate="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="hireDate.toggle()" type="button">
                                                <img src="https://ng-bootstrap.github.io/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Country</label>
                                <div class="col-md-8">
                                    <input name="country" type="text" class="form-control" [(ngModel)]="model.country" [ngbTypeahead]="search"
                                           [resultTemplate]="autocompletetemplate"
                                           [inputFormatter]="formatter" 
                                           (selectItem)="selectCountry($event)"/> 
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Region</label>
                                <div class="col-md-8">
                                    <input name="state" type="text" class="form-control" [(ngModel)]="model.state" [ngbTypeahead]="searchState"
                                           [resultTemplate]="autocompletetemplate"
                                           [inputFormatter]="formatter" 
                                           (selectItem)="selectState($event)"/> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">City</label>
                                <div class="col-md-8">
                                    <input name="city" type="text" class="form-control" [(ngModel)]="model.city" [ngbTypeahead]="searchCity"
                                            [resultTemplate]="autocompletetemplate"
                                            [inputFormatter]="formatter" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Address</label>
                                <div class="col-md-8">
                                    <input id="address" [(ngModel)]="model.address" [ngModelOptions]="{standalone:true}" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Postal Code</label>
                                <div class="col-md-8">
                                    <input id="postalCode" [(ngModel)]="model.postalCode" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Home Phone</label>
                                <div class="col-md-8">
                                    <input id="homePhone" [(ngModel)]="model.homePhone" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Extension</label>
                                <div class="col-md-8">
                                    <input id="extension" [(ngModel)]="model.extension" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Notes</label>
                                <div class="col-md-8">
                                    <input id="notes" [(ngModel)]="model.notes" [ngModelOptions]="{standalone:true}" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4">Photo</label>
                                <div class="col-md-8">
                                    <file-uploader [allowMultiple]="false" [fileType]="'image/*'"
                                                   (onSelection)="fileuploaderFileChange($event)" [required]="false"></file-uploader>
                                    
                                    <img width="482" *ngIf="model.photoPath" src="{{ model.photoPath }}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-6 offset-sm-2">
                            <input type="submit" value="Create" class="btn btn-primary"/>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>