body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.highlight {
    padding: 1rem;
    margin: 1rem -15px;
    background-color: #f7f7f9;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.content {
    min-height: 366px;
}

.loading {
    margin: 0 auto;
    display: block;
}

.fade-enter {
    opacity: 0.01;
}

.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-leave {
    opacity: 1;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}
.active{
    border: 1px solid green;
}