@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReactDashboard</title>
    <base href="~/" />
</head>
<body>
    <div id="react-container"></div>

    <script src="~/dist/vendor.js"></script>
    <script src="~/dist/index.js"></script>
</body>
</html>
