
<ul id="side-main-menu" class="side-menu list-unstyled">
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/home']"><span class='glyphicon glyphicon-home'></span> Home</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/counter']"><span class='glyphicon glyphicon-education'></span> Counter</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/fetch-data']"><span class='glyphicon glyphicon--th-list'></span> Fetch data </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/products']"><span class='glyphicon glyphicon--th-list'></span> Products </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/employees']"><span class='glyphicon glyphicon--th-list'></span> Employees </a>
    </li>
</ul>