
<ul id="side-main-menu" class="side-menu list-unstyled">
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/home']"><span class='glyphicon glyphicon-home'></span> Home</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/counter']"><span class='glyphicon glyphicon-education'></span> Counter</a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/fetch-data']"><span class='glyphicon glyphicon--th-list'></span> Fetch data </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/products']"><span class='glyphicon glyphicon--th-list'></span> Products </a>
    </li>
    <li [routerLinkActive]="['active']">
        <a [routerLink]="['/dashboard/employees']"><span class='glyphicon glyphicon--th-list'></span> Employees </a>
    </li>
</ul>